<container>
  <!-- headline -->
  <div class="row">
    <div class="col-md-12 centered">
      <h1> Shopping Cart Contents</h1>
    </div>
  </div>
  <% such_total = 0 %>
  <!-- rubyness for each do -->
  <br><br>
  <% @schwaddy = current_user.cart.first.order_contents
  <%= form_for current_user.cart.first.order_contents do |oc_fields| %>
    <div class="row">
      <div class="col-md-7">
        <!-- product stuff -->
        <div class="row">
          <div class="col-md-3">
            <!--ITEM PICTURE -->
          </div>
          <div class="col-md-6">
            <p><%= oc_fields.product.name %></p>
            <p><%= oc_fields.product.category.name %></p>
          </div>
          <div class="col-md-3">
            <p><%= oc_fields.product.price %></p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <p><strong>Quantity:</strong></p>
            <p><%= oc_fields.text_field :quantity %></p>
            <p>Remove item checkbox</p>
          </div>
          <div class="col-md-6">
            <p><strong>Total price</strong></p>
            <p><%= oc_fields.product.price * oc_fields.quantity.to_f %></p>
            <% such_total += (oc_fields.product.price * oc_fields.quantity.to_f) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= oc_fields.submit %>
  <div class="row">
    <div class="col-md-7 total centered">
      <h4><strong>Total</strong></h4>
      <h3>$<%= such_total %></h3>
    </div>
    <div class="col-md-5">
      <p><%= button_to('Update Contents', root_path, :class => 'btn btn-large btn-primary') %></p><!-- still needs path -->
      <p><%= button_to('Check Out', root_path, :class => 'btn btn-large btn-primary') %></p> <!-- needs checkout path -->
    </div>
  </div>
  <br><br>
      

      
  <!-- put end here -->

<!-- BOTTOM OF PAGE ACTION -->
</container>