<%= form_tag root_path, :method => "get" do %>
  <%= select_tag(:category_id, options_for_select(@categories)) %>
  <%= submit_tag("Search") %>
<% end %>

<div class="row">
  <% iterator = 0 %>
  <% @products.each do |product| %>
    <% if iterator % 3 == 0 %>
      </div>
      <br>
      <hr width="100%">
      <br>
      <div class="row">
    <% end %>
      <%= form_tag sessions_path, :method => "post" do %>
        <div class="col-md-4">
          <%= hidden_field_tag("product_id", product.id) %>
          <p><%= product.name %></p>
          <p><%= product.price %></p>
          <%= submit_tag("Add to cart") %>
        </div>
      <% end %>
      <% iterator += 1 %>
  <% end %>
  </div>
</div>
<br><br>